@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    font-size: 13px;
    
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #cb7927;
    background-repeat: no-repeat;
    background-image: url(https://64.media.tumblr.com/163c55893ee684405fe99b284635b0e7/b5c33d6efdd1868f-a1/s250x400/1fcdb834fd2d4215c5f81985ec90608c25ee4840.gifv);
    background-size: 800px, 800px;
    cursor: url('./assets/cursor.png'),auto;
}
ul
{
    position: relative;
    transform: skewY(-15deg);
    
}
ul li
{
    position: relative;
    list-style: none;
    width: 200px;
    background: #202021;
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;
}
ul li:hover
{
    background: url(https://64.media.tumblr.com/b028bb7c2ec278ae2ab4e20a9f7a8310/b5c33d6efdd1868f-9d/s400x600/60eef348d747e4fd6837d6630eefaf4e5c325d89.gifv);
    transform: translateX(50px);
}
ul li::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #2c2c2d;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}
ul li:hover::before
{
    background: #1f5378;
}
ul li::after
{
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #353835;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}
ul li:hover::after
{
    background: #2982b9ea;
}
ul li a
{
    text-decoration: none;
    color: rgb(201, 204, 31);
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
ul li:hover a
{
    color: rgb(227, 25, 143);
    font-size: 70px;
    font-family: 'Press Start 2P', cursive;
    
}
ul li:last-child::after
{
    box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.25);
}

p {
    margin: 4px;
    font-size: 10px;
    background-color: #1f5378;
    margin-top:-50px;
    margin-bottom:500px;
    text-align: center;
    
    
}

@media screen and (min-width: 700px) {

    p {
    
    font-size: 20px;
    margin-top: -10px;
    
    }
    
    }


    @media screen and (max-width: 700px) {

        p {
        
        font-size: 10px;
        margin-top: 10px;
        
        }
        
        }

        audio {
            position: absolute;
            margin-top: px;
        }